{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

	{% if messages %}
		{% for message in messages %}
		 	<div class="text-center mt-3">{{ message }}</div>
		{% endfor %}
	{% endif %}

	<div class="container">
		<form class="mt-5" method="post" action="">
			{% csrf_token %}
			<div class="row">
				{% for field in form %}
				<div class="col-sm-5">
					{% bootstrap_field field %}
				</div>
				{% endfor %}
				<div class="col-sm-2">
					<input class="btn btn-success mt-4" type="submit" value="Search">
				</div>
			</div> 
		</form>

		<table class="m-5">
			<thead>
				<th>#</th>
				<th>Item</th>
				<th>Category</th>
				<th>Quantity</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for instance in queryset %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'stock:update' id=instance.id %}">{{instance.item_name}}</a></td>
					<td>{{instance.category}}</td>
					<td>{{instance.quantity}}</td>
					<td><a href="{% url 'stock:delete' id=instance.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	

{% endblock %}